.App {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 10rem 0;
  margin: 0 auto;
  width: 95%;
  max-width: 70rem;
}

@media screen and (max-width: 600px) {
  .App {
    padding: 3rem 0;
    flex-direction: column-reverse;
    align-items: center;
  }

}
