.search-container {
  width: 30rem;
}

.search-box {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  border: 2px solid #e4e4e4;
  border-radius: 4px;
}

.search-box:focus {
  outline: 1px solid #16a2ff;
}

.search-list {
  list-style-type: none;
  width:100%;
  padding:1rem;
  background-color: #fff;
  margin:0;
  padding:0;
}

.search-list li {
  padding:0.8rem;
  border:1px solid #e4e4e4;
  cursor :pointer;
  font-size:1rem;
}

@media screen and (max-width: 600px) {
  .search-container{
    width:22rem;
    margin:0 0 2rem 0;
  }
}