.detail-container {
  width: 30rem;
  margin-left: 2rem;
  padding: 0 1rem;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.row {
  display: flex;
  margin: 1rem 0;
}

.row-title {
  width: 8rem;
  flex-shrink: 0;
  font-weight: bold;
}

.row-body {
  font-weight:bold;
  font-size:1rem;
}

.row-body.desc{
  color:darkgray;
  font-size:0.8rem;
}

.product-image {
  max-width: 100%;
  display:block;
}

@media screen and (max-width: 600px) {
  .detail-container{
    width:22rem;
    margin:0 0 2rem 0;
  }
}
